
.main {
    margin-top:       20px;
    padding:          10px;
    border:           dotted 2px blue;
}

.menuItem {
    border:           solid 2px green; 
    border-radius:    5px;
    text-align:       center; 
    font-size:        20px; 
    background-color: orange; 
    color:            blue;
}

.menuItem:hover {
    background-color: blue; 
    color:            orange;
}

.debug {
	border:		  dashed 1px gray;
	border-radius:    10% 30% 50% 70%;
	border-width:     2px 4px;
	background-color: #dedede;
}

.msgcontent{
	border:		dashed 1px gray;
	max-width:	300px;
	display: 	none;
	word-wrap: 	break-word;

}

.sender{
	border:		dashed 1px orange;
	width:		400px;
	text-align: 	left;
	word-wrap: 	break-word;

}

.reciever{
	border:		dashed 1px blue;
	width:		400px;
	text-align: 	right;
	word-wrap: 	break-word;
	margin-left: 	auto;
}

.scrolltainer{
	height:		500px;
	overflow:	auto;
}

